<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="Miruken" version="0.0.1.112-prerelease" targetFramework="net461" />
  <package id="Miruken.Castle" version="0.0.1.55-prerelease" targetFramework="net461" />
  <package id="Miruken.Mvc" version="0.0.1.92-prerelease" targetFramework="net461" />
  <package id="Miruken.Mvc.Castle" version="0.0.1.69-prerelease" targetFramework="net461" />
</packages>