<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DbName" value="BibleStudy" />
    <add key="DatabaseLocation" value="C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\" />
    <add key="LogLocation" value="C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\" />
    <add key="Env" value="LOCAL" />
    <add key="AppUser" value="" />
    <add key="TestUser" value="" />
  </appSettings>
  <connectionStrings>
    <add name="BibleStudy" connectionString="Server=.;trusted_connection=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>